<div class="row">
	<%= render 'shared/user_profile' %>

	<div class="span9">
		<h3>User Administration</h3>
		
		<%= will_paginate %>
		
		<table>
			<%= render @users %>
		</table>
		
		<%= will_paginate %>
	</div>
</div>